.headerDiv {
  overflow: auto;
  /* border: solid; */
  height:100px
  padding:20;
  background-color: #a84410;
}
.heading {
  color: white;
}
.formDiv {
  overflow: auto;
  padding:20;
  /* background-color: #f1892d; */
  background-image: linear-gradient(TO RIGHT, #FDE3A7,#c86400);
}
.formCover {
  display: inline-block;
  /* border: solid; */
  padding:10px;
  background-color: #c86400;
}

.tableForm{
	/* border: solid; */

}
.submit{
	width: 100%;
	height:50px;
	color: white;
	background-color: green;
}
.clear{
	width: 100%;
	height:50px;
	color: white;
	background-color: red;
}
table {
	background-color: #FDE3A7;
}


td {
  padding: 10px;
}
